<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>New Home Form</h1>
    <h2>Enter a New Home</h2>
    <form action="/homes" method="POST">
      <label>Address:
        <input type="text" name="address">
      </label><br>
      <label>Bedrooms:
        <input type="text" name="bedrooms">
      </label><br>
      <label>Bathrooms
        <select name="bathrooms">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label><br>
      <label>Sq Ft.
        <input type="text" name="squareFootage">
      </label><br>
      <label>Price
        <input type="text" name="price">
      </label>
      <label>For Sale:
        <input type="checkbox" name="forSale" checked>
      </label><br>
      <input type="submit" value="Add Home">
    </form>
    
</body>
</html>